framework: auto-detect
source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Core                                >= 5.0.1 lowest_matching: true
nuget Microsoft.NETFramework.ReferenceAssemblies >= 1.0.0 lowest_matching: true

nuget Aardvark.Build                             ~> 1.0.18
nuget Aardvark.Base.Tensors                      ~> 5.2.18

nuget System.Buffers                             >= 4.5.1 lowest_matching: true
nuget System.Memory                              >= 4.5.5 lowest_matching: true

nuget Pfim                                       ~> 0.11.1

group Test
    framework: net6.0
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core                       >= 5.0.1 lowest_matching: true

    nuget FsUnit                            ~> 5.0.0
    nuget Microsoft.NET.Test.Sdk            ~> 17.2.0
    nuget Microsoft.TestPlatform.TestHost   ~> 17.2.0
    nuget Expecto                           ~> 9.0.4
    nuget YoloDev.Expecto.TestSdk           ~> 0.12.20